<div> 
<P> "This is the landing page for the learning topics </P>
{{#each topics}}
<nav> 
<a href="/" class="game icon">Home</a>
<a href="/games" class="game icon">Games</a>
</nav>
<h6>{{title}} is a cool thing to learn!</h6>
<div> </div>

</div>
{{/each}}