<div> 
<P> This is the landing page for the learning topics </P>
<nav> 
<a href="/" class="game icon">Home</a>
<a href="/games" class="game icon">Games</a>
</nav>
</div>


<div> 
{{#each topics}}
<a href="/topics/{{id}}" class="topic card">{{title}}</a>is a cool thing to learn!
</div>
{{/each}}