<div class="container"> 

<div ="intro">
  <h1>TOPICS</h1>
  <h3>Read and Learn</h3>
  
  <P> Below are a few learning topics that have been added for you.
      What else would you like to learn? Add it below!</P>
</div>

<div class= "body">
{{#each topics}}
<a href="/topics/{{id}}" class="topic card">{{title}}</a> </br>
{{/each}}
</div>

<nav> 
<a href="/" class="home icon">Home</a>
<a href="/games" class="game icon">Games</a>
<a href="/topics/new" class="new topic icon">Add a New Topic</a>
</nav>

</div>