<form>
<label>title</label>
 <label>catagory</label> 
  <label>summary</label>
  <label>resources</label>
  <label>links </label>
  <label>terms</label>
 <label>notes</label>
<input type = "submit" value = "add this topic!">
</form>