<div class="intro"> 
    <h1>New Topic</h1>
</div>

<div class= "form"> 
<form action="/topics" method="post">
<label>Title</label>
    <input type= "text" value="" name="title" placeholder="What topic does this cover?"></br></br>
 <label>Catagory</label> 
     <input type= "text" value="" name="catagory" placeholder="What catagory does it fall in?"></br></br>

  <label>Summary</label>
      <input type= "text" value="" name="summary" placeholder="Add a summary of the topic"></br></br>

  <label>Resources</label>
      <input type= "text" value="" name="resources" placeholder="Resources for reference"></br></br>

  <label>Links </label>
      <input type= "text" value="" name="links" placeholder="Links to resource"></br></br>

  <label>Terms</label>
      <input type= "text" value="" name="terms" placeholder="What terms are important"></br></br>

 <label>Notes</label>
     <input type= "text" value="" name="notes" placeholder="Add notes here.."></br></br>

<input type = "submit" value = "Add this topic!">
</form>
</div>

<nav> 
<a href="/topics" class="topics icon">Cancel</a>
<a href="/" class="home icon">Home</a>
<a href="/games" class="game icon">Games</a>
</nav>