<div> 
<P> "This is the landing page for the learning topics </P>

<h6>{{topics}} are cool</h6>
<nav> 
<a href="/" class="game icon">Home</a>
<a href="/games" class="game icon">Games</a>
</nav>

</div>