
<div> 
    <h1> this is the main landing page for ALL THE THINGS</h1>
        <div class="game icon"><a href="/games" class="game icon">GAMES</a></div>
        <div class= "topic icon"><a href="/topics" class="topic icon">Learning Topics</a></div>
</div>

{{!-- const UserLanding page
name, learn topics list, games list, notes box --}}