<!DOCTYPE html>
<html lang="en">
<head>
  <title>VI CODE</title>
</head>
<body>
  <div> 
  <h1>Template in!!</h1>
  {{{body}}}
  </div>
  <script></script>
  {{!-- do i need this to make it work? --}}
</body>
</html>