<!DOCTYPE html>
<html lang="en">
<head>
  <title>VI CODE</title>
  <link href="https://fonts.googleapis.com/css?family=Handlee|IBM+Plex+Serif|Shadows+Into+Light" rel="stylesheet">
</head>
<body>

  <div> 
  <h1>Template in!!</h1>
  {{{body}}}
  </div>
  <script></script>
  {{!-- do i need this to make it work? --}}
</body>
</html>

{{!-- font-family: 'Handlee', cursive;
font-family: 'IBM Plex Serif', serif;
font-family: 'Shadows Into Light', cursive; --}}