
<nav> 
<a href="/games" class="game icon">GAMES</a>
<a href="/topics" class="topic icon">Learning Topics</a>
</nav>

<h1> this is the main landing page for ALL THE THINGS</h1>


{{!-- const UserLanding page
name, learn topics list, games list, notes box --}}