<div class="container">
  <h1>GAMES!</h1>
<h1>Games: Play and Lean</h1>

{{games}} are fun
{{!-- <ul>
  {{#each games}}
  <a href="/games/{{id}}"{{name}}></a>
  {{/each}}
</ul> --}}

<nav> 
<a href="/" class="game icon">Home</a>
<a href="/topics" class="topic icon">Learning Topics</a>
</nav>
</div>
{{!-- // games list:
// const game que
// //  title, link, Topic (sort by topic?)
//  add to que option --}}