<div class="container">
  <h1>GAMES!</h1>
<h1>Games: Play and Lean</h1>

<div>
{{#each games}} 
<a href="/games/{{id}}" class="game card">{{name}}</a>is fun
</div>
{{/each}}

<nav> 
<a href="/" class="game icon">Home</a>
<a href="/topics" class="topic icon">Learning Topics</a>
</nav>
</div>


{{!-- // games list:
// const game que
// //  title, link, Topic (sort by topic?)
//  add to que option --}}