<form action="/games" method"post">
    <h1> New Game Form </h1>
    <label >Game Name</label>
    <input type= "text" value="" name="name" placeholder="Add Name of the Game..">
    <label>category</label> 
    <input type= "text" value="" name="category" placeholder="select catagory..">
    <label>topic</label>
    <input type= "text" value="" name="topic" placeholder="what is the topic..">
    <label>url</label>
    <input type= "text" value="" name="url" placeholder="Place URL in quotes here">
    <label>screenshot </label>
    <input type= "text" value="" name="screenshot" placeholder=>

<input type = "submit" value = "Save this GAME!">
</form>
