<form>
    <h1> New Game Form </h1>
    <label>name</label>
    <label>category</label> 
    <label>topic</label>
    <label>url</label>
    <label>screenshot </label>
<input type = "submit" value = "Save this GAME!">
</form>
